body {
    background: #468eec;
}

header {    
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
}

section {
    background: #ffffffb4;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
}

footer {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#dados {    
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}

#res{    
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    text-align: center;
}

.btn {
    width: 100px;
    height: 30px;
    background: #468eec;
    color: #ffffff;
    border-radius: 20px;
    font-size: .7em;
    font-family: 'Roboto', sans-serif;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
}

.btn:hover {
    cursor: pointer;
    background: #ffffff;
    color: #468eec;
}